/*메인*/
.main {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

/*버튼*/
.insert_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top_btn {
  display: flex;
}

.top_btn button {
  background-color: rgb(255, 255, 255);
  color: rgb(71, 70, 70);

  height: 30px;
  width: 100px;
  border-radius: 10%;

  margin: 5px;

  font-size: 20px;
  text-align: center;
}

.coin_result {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* 메뉴 */
.menu_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
